@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  background: linear-gradient(
    to top,
    rgb(188, 180, 216) 10%,
    rgb(233, 231, 238) 80%
  );
  justify-content: center;
}
.container {
  background-color: rgb(245, 244, 246);
  height: 380px;
  width: 280px;
  border-radius: 15px;
  padding: 16px 16px 6px 16px;
  box-shadow: 5px 10px 20px rgba(60, 51, 94, 0.358);
}
.container .title-box {
  /* border: 1px solid; */
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
}
.container .title-box p {
  font-size: 20px;
  font-weight: 550;
  color: rgba(24, 15, 58, 0.724);
}
.input-box {
  height: 32px;
  width: 100%;
  display: flex;
  margin-bottom: 8px;
}
#taskInput {
  height: 100%;
  width: 65%;
  border-style: none;
  border-radius: 8px 0 0 8px;
  border-right: none;
  outline: none;
  background-color: rgba(231, 231, 231, 0.447);
  font-size: 12px;
  padding-left: 10px;
  border: 0.1px solid rgba(128, 128, 128, 0.459);
}
#addTask {
  height: 100%;
  width: 35%;
  border-radius: 0 8px 8px 0;
  border-style: none;
  border-left: none;
  background: linear-gradient(
    to bottom,
    rgb(255, 222, 102) 10%,
    rgb(255, 157, 28) 100%
  );
  color: white;
  font-size: 12px;
  font-weight: 500;
  margin-left: -1px;
  transition: all 0.3s ease;
}
#addTask:active {
  transform: scale(1.1);
  cursor: pointer;
}
.task-container {
  border-top: 2.5px solid rgba(178, 178, 178, 0.521);
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
}
.task-container .sub-heading {
  /* height: 10%; */
  width: 100%;
  font-size: 14px;
  font-weight: 550;
  color: rgba(24, 16, 56, 0.813);
}
#taskList {
  /* border: 1px solid; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 4px;
  margin-bottom: 6px;
}
.task {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 12px;
  font-weight: 500;
  border-radius: 10px;
  padding: 6px 10px;
  box-shadow: 2px 3.5px 8px rgba(0, 0, 0, 0.2);
  /* border:  1px solid; */
}
.work {
  width: 60%;
  padding-left: 8px;
}
.done {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(12, 228, 109);
  color: white;
  font-size: 16px;
  border-style: none;
  border-radius: 50%;
}
.delet {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: white;
  background-color: tomato;
  border-style: none;
  border-radius: 50%;
}
#taskCount {
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  color: rgb(83, 78, 78);
  text-align: center;
  margin-top: 4px;
  padding: 2px;
  /* border: 1px solid; */
}
