@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(to bottom, rgb(83, 78, 241) 8%, rgb(12, 2, 101) 80%);

}
.container{
    height: 200px;
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    border: 1px solid rgb(205, 50, 50);
    z-index: 12;
}
body::before{
    position: absolute;
    content: '';
    height: 200px;
    width: 200px;
    background:linear-gradient(to bottom, rgb(255, 170, 96) 8%, rgb(255, 77, 0) 80%);
    border-radius: 50%;
    transform: translateX(160px) translateY(-72px);
    z-index: 5;
}
body::after{
    position: absolute;
    content: '';
    height: 180px;
    width: 180px;
    background:linear-gradient(to bottom, rgb(83, 78, 241) 8%, rgb(25, 0, 255) 80%);
    border-radius: 50%;
    transform: translateX(-120px) translateY(102px);
    z-index: 5;
}
.clock-box{
    background-color: rgba(255, 252, 252, 0.133);
    backdrop-filter: blur(6px);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 6px;
    border-radius: 6px;
    box-shadow: 4px 4px 11.5px rgba(0, 0, 0, 0.5), 4px 4px 10px rgba(205, 181, 181, 0.2) inset;
}
#hourDiv,#minDiv{
    border: 1px solid;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: 600;
    background-color: rgba(204, 181, 181, 0.122);
    backdrop-filter: blur(5px);
    border-style: none;
    border-radius: 6px;
    box-shadow: 2px 2px 11.5px rgba(0, 0, 0, 0.4), 2px 2px 10px rgba(156, 136, 136, 0.4) inset;
    color: white;
}
#secDiv{
    border: 1px solid;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: 600;
    color: yellow;
    background-color: rgba(204, 181, 181, 0.122);
    backdrop-filter: blur(5px);
    border-style: none;
    border-radius: 6px;
    box-shadow: 2px 2px 11.5px rgba(0, 0, 0, 0.4), 2px 2px 10px rgba(156, 136, 136, 0.4) inset;
}