*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clock-box{
    border: 1px solid ;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.clock-box p{
    font-size: 20px;
    font-weight: 500;
}